<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ confession[2] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}" type="image/icon type">
</head>
<body>
    <div class="container">
        <h1>Here is the full confession</h1>
        <p><a href="../PostYourConfession">Post Your own Confession </a> on the wall</p>
        <p>Go back to the <a href="../">Home</a> page</p>
        <p><a href="../delete/{{ confession[0] }}" style="color: red;">Delete </a> This confession</p>
    </div>

        <div class="confession_container">
            <h1 class="confession_h1">{{ confession[1] }}</h1>
            <p>{{ confession[2] }}</p>
            <p style="text-align: left;">Time of confession: {{ confession[4] }}</p>
        </div>

        <div class="confession_container confession_container_hover">
            <a href="../delete/{{ confession[0] }}" class="confession_a">
            <h1 class="confession_h1">delete this confession</h1>
            </a>
        </div>
        <a href="../delete/{{ confession[0] }}"><img src="{{ url_for('static', filename='trash_can.png') }}" id="corner_image" alt="Delete a Confession" ></a>
</body>
</html>
