<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confession Wall</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Confession Wall!</h1>
        <p>Here you can post or view confessions anonymously!</p>
        <p>Learn more about the <a href="AboutMe">creator</a> of this site.</p>
        <p><a href="PostYourConfession">Post Your Confession </a> on the wall.</p>
    </div>

        <div class="confession_container">
            <h1 class="confession_h1">{{ confession[1] }}</h1>
            <p>{{ confession[2] }}</p>
            <p style="text-align: left;">Time of confession: {{ confession[4] }}</p>
        </div>

        <a href="../delete/{{ confession[0] }}" class="confession_a">
        <div class="confession_container">
            <h1 class="confession_h1">delete this confession</h1>
        </div>
</body>
</html>
