<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confession Wall</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Confession Wall!</h1>
        <p>Here you can post or view confessions anonymously!</p>
        <p>Learn more about the <a href="AboutMe">creator</a> of this site</p>
        <p><a href="PostYourConfession">Post Your Confession </a> on the wall</p>
    </div>

    {% for item in data[::-1] %}
        <div class="confession_container confession_container_hover">
            <a href="confession/{{ item[0] }}" class="confession_a">
            <h1 class="confession_h1">{{ item[1] | truncate(20, True)}}</h1>
            <p>
                {{ item[2] | truncate(90, True) }}
            </p>
            <p style="text-align: left;">Time of confession: {{ item[4] }}</p>
        </a>
        </div>
    {% endfor %}
    <a href="PostYourConfession"><img src="{{ url_for('static', filename='plus.png') }}" id="corner_image" alt="Post a Confession" ></a>
</body>
</html>
