<!DOCTYPE html> 
<html> 
    <head> 
        <title>post a confession</title> 
    </head> 
    <body> 
        <form method="POST"> 
            <label>Enter Title of the confession:</label> 
            <input type="text" name="title" placeholder="Enter Title of the confession" required><br/> 
            <label>Write your confession:</label> 
            <input type="text" name="confession" placeholder="Write your confession" required><br/>
            <label>Enter a password if you will want to delete the confession:</label> 
            <input type="password" name="password" placeholder="Enter password for case of regrates" required><br/> 
            <input type = "submit" value = "submit"/><br/> 
        </form> 
    </body> 
</html>